@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.03);
        opacity: 0.8;
    }
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}


.page-wrap {
    overflow: hidden;
}

.md-section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 9;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .md-section {
        padding-top: calc(6.81818vw + 28.18182px);
        padding-bottom: calc(6.81818vw + 28.18182px);
    }
}

@media (min-width: 1200px) {
    .md-section {
        padding-top: 110px;
        padding-bottom: 110px;
    }
}


a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #426efc;
}

a:focus {
    text-decoration: none;
}


.md-section {
    padding-top: 65px;
    padding-bottom: 65px;
}

@media (min-width: 320px) {
    .md-section {
        padding-top: calc(13.63636vw + 21.36364px);
        padding-bottom: calc(13.63636vw + 21.36364px);
    }
}

@media (min-width: 1200px) {
    .md-section {
        padding-top: 185px;
        padding-bottom: 185px;
    }
}


/* Typography */

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #0c0c0e;
}

body.md-skin-dark {
    background-color: #303036;
    opacity: 0.2;
}

.md-skin-dark {
    color: rgba(255, 255, 255, .9);
}

.md-skin-dark h2, .md-skin-dark h3, .md-skin-dark h4,
.md-skin-dark h5, .md-skin-dark h6 {
    color: #fff;
}

a {
    transition: all .3s ease;
}

a, input, textarea, select {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.4em;
    color: #0c0c0e;
    font-family: "Work Sans", sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

h3, h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

blockquote {
    border: 0;
    font-size: 25px;
    padding: 0 0 0 40px;
    margin: 15px 20px 20px;
    position: relative;
    line-height: 1.4;
    color: #03358f;
    font-family: "Roboto", sans-serif;
}

@media (min-width: 992px) {
    blockquote {
        padding: 0 0 0 70px;
    }
}

blockquote:before {
    content: "\F10D";
    font-family: FontAwesome;
    font-size: 30px;
    line-height: 1.2;
    top: 0;
    left: 0;
    position: absolute;
    color: #c9c9cf;
}

@media (min-width: 992px) {
    blockquote:before {
        font-size: 50px;
    }
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote i {
    font-size: 40px !important;
    margin-bottom: 20px;
}

blockquote cite {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
}

@media (min-width: 768px) {
    blockquote {
        font-size: 25px;
        margin: 15px 40px 20px;
    }
}

abbr {
    color: #67dee8;
    border-width: 2px;
}


.hero {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9;
    background-image: url("../img/hero-bg.avif");
}

.hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .9;
    z-index: -1;
}

.hero.no-overlay:after {
    display: none;
}

.hero.bg-video {
    background-color: transparent;
}

.hero .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.hero__title_inner {
    text-align: center;
}

.hero__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.hero__title {
    font-size: 30px;
    font-weight: 300;
    color: #fb8500;
}

@media (min-width: 320px) {
    .hero__title {
        font-size: calc(2.04545vw + 23.45455px);
    }
}

@media (min-width: 1200px) {
    .hero__title {
        font-size: 48px;
    }
}

.hero__wrapper {
    position: relative;
    padding: 120px 0 50px;
    z-index: 99;
    min-height: 100vh;
}

.hero__text {
    font-size: 2rem;
}

@media (max-width: 1000px) {
    .hero__text {
        font-size: 1.4rem;
    }
}

@media (min-width: 1401px) {
    .hero__wrapper {
        display: flex;
        flex-direction: column;
    }

    .hero__icon {
        font-size: 36px;
        width: 60px;
        height: 60px;
        line-height: 56px;
    }
}


.countdown__module {
    width: 100%;
    margin-top: 6rem;
}

.killer-countdown {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    width: 100%;
}


.currency {
    font-size: 5rem;
}

.destruct-rate {
    color: #666;
    font-size: 2rem;
}


.killer-countdown-main {
    font-size: 9rem;
    font-weight: bolder;
    display: inline-block;
    animation: pulse 1s infinite alternate;
    color: #ff4d4d;

}


#killer {
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.5s ease-out;
}


.destruct-rate {
    font-size: 0.9em;
    color: #888;
    display: block;
    margin-top: 5px;
}

@media (max-width: 500px) {
    .killer-countdown-main {
        font-size: 3rem;
    }

    .currency {
        font-size: 1.1rem;
    }

    .destruct-rate {
        font-size: 0.9rem;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .killer-countdown-main {
        font-size: 5rem;
    }

    .currency {
        font-size: 3rem;
    }

    .destruct-rate {
        font-size: 1.5rem;
    }
}


@media (min-width: 769px) and (max-width: 1100px) {
    .killer-countdown-main {
        font-size: 5.5rem;
    }

    .currency {
        font-size: 3rem;
    }

    .destruct-rate {
        font-size: 1.5rem;
    }
}